<div class="one-fourth main-sidebar">
	<div class="sidebar">
		<span class="font-18px skin-font-color1 bold">Panel użytkownika</span>
		<ul class="panel-menu">
			<li class="skin-border-color5">
				<%= link_to "Kokpit", panel_path, class: 'skin-font-color1 skin-background-hover8' %>
			</li>
			<!-- <li class="skin-border-color5"><a href="#" class="skin-font-color1 skin-background-hover8 panel-menu-current bold">Kokpit</a></li> -->
			<li class="skin-border-color5"><a class="skin-font-color1 bold">Twoje ogłoszenia</a>
				<ul>
					<!-- <li><%#= link_to "Aktywne", panel_ogloszenia_path, class: 'skin-font-color9 bold' %></li> -->
					<li>
						<%= link_to "/ Oczekujące na moderacje", panel_ogloszenia_path(status: 'waiting_mod'), class: 'skin-font-color1 skin-background-hover8' %>
					</li>
					<li>
						<%= link_to "/ Aktywne", panel_ogloszenia_path, class: 'skin-font-color1 skin-background-hover8' %>
					</li>
					<li>
						<%= link_to "/ Oczekujące na zwycięzce", panel_ogloszenia_path(status: 'waiting_winner'), class: 'skin-font-color1 skin-background-hover8' %>
					</li>
					<li>
						<%= link_to "/ Zakończone", panel_ogloszenia_path(status: 'ended'), class: 'skin-font-color1 skin-background-hover8' %>
					</li>
					<!-- <li><a href="#" class="skin-font-color1 skin-color-hover4">/ Archiwum</a></li> -->
				</ul>
			</li>
			<li class="skin-border-color5"><a class="skin-font-color1 bold">Twoje oferty</a>
				<ul>
					<li>
						<%= link_to "/ Aktywne", panel_oferty_path, class: 'skin-font-color1 skin-background-hover8' %>
					</li>
					<li>
						<%= link_to "/ Oczekujące na zwycięzce", panel_oferty_path(status: 'waiting_winner'), class: 'skin-font-color1 skin-background-hover8' %>
					</li>
					<li>
						<%= link_to "/ Wygrane", panel_oferty_path(status: 'won'), class: 'skin-font-color1 skin-background-hover8' %>
					</li>
				</ul>
			</li>
			<li class="skin-border-color5">
				<%= link_to "Profil wykonawcy", panel_profil_path, class: 'skin-font-color1 skin-background-hover8' %>
			</li>
			<li class="skin-border-color5">
				<%= link_to "Ustawienia konta", panel_ustawienia_path, class: 'skin-font-color1 skin-background-hover8' %>
			</li>
			<li class="skin-border-color5">
				<%= link_to "Weryfikacja", panel_weryfikacja_path, class: 'skin-font-color1 skin-background-hover8' %>
			</li>
		</ul>
	</div>
	<div class="sidebar">
		<span class="font-18px skin-font-color1 bold">Pomoc</span>
		<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae urna augue. Fusce eget ligula ligula. Nulla auctor mauris non quam congue iaculis. Nulla imperdiet sit amet ipsum et euismod. Mauris dapibus lacus in urna tempus, et vestibulum urna varius.</p>
	</div>
</div>