<div class="new-tabs-content">

	<div class="list-header skin-font-color7 category-list-margin">
		<div class="three-fourth">
			<span class="skin-font-color6 bold">Tytuł</span>
		</div>
		<div class="one-fourth last">
			<div class="one-half">
				<span class="skin-font-color6 bold">Ofert</span>
			</div>
			<div class="one-half last">
				<span class="skin-font-color6 bold">Dodane</span>
			</div>
		</div>
	</div>

	<% if @advertisments.any? %>
		<ul class="list">
		<% @advertisments.each do |advertisment| %>
			<li>
				<%= link_to advertisment_path(advertisment), class: 'skin-background-hover4' do %>
					<div class="three-fourth">
						<span class="skin-font-color6"><%= advertisment.title %></span>
						<span class="list-icon radious-5px skin-background-color3 skin-font-color2"><%= advertisment.price %> zł</span>
						<span class="list-icon radious-5px skin-background-color7 skin-font-color2"><%= advertisment.category.name %></span>
					</div>
					<div class="one-fourth last">
						<div class="one-half">
							<span class="skin-font-color6"><%= advertisment.offers.count %></span>
						</div>
						<div class="one-half last">
							<span class="skin-font-color6"><%= time_ago_in_words(advertisment.created_at) %></span>
						</div>
					</div>
				<% end %>
			</li>
			<% end %>
		</ul>
	<% else %>
		<ul class="list">
			<li>Brak ogłoszeń</li>
		</ul>
	<% end %>

</div>

<div class="pagination">

<%= paginate @advertisments %>

</div>
