<div class="one-third last">
	<div class="sticky-offer">
		<div class="offer-info skin-border-color5 skin-background-color10">
			<ul class="skin-font-color1">
				<li><span class="bold">Lokalizacja:</span> <%= @advertisment.geolocation.name %></li>
				<li><span class="bold">Budżet:</span> <%= @advertisment.price %> zł</li>
				<li><span class="bold">Ilość ofert: </span> <%= advertisment_offers_count @advertisment %></li>
				<li><span class="bold">Wystawione:</span> <%= date_issue @advertisment.created_at %></li>
				<li><span class="bold">Do końca:</span> 7 dni</li>
			</ul>

			<% if ! current_user %>
				<%= link_to "Zaloguj się by złożyć ofertę", panel_logowanie_path, class: 'skin-font-color2 skin-background-color1 skin-background-hover6' %>
			<% end %>

		</div>
	</div>
	<div class="added-by">
		<span class="bold span-title">Dodał:</span>
		<div class="user">
			<div class="user-info">
				<%= image_tag "avatar/#{@advertisment.user.avatar}.jpg", data: {alt: "profile"} %>
				<%= user_verify @advertisment.user %>
			</div>
			<div class="user-content">
				<a href="#" class="bold skin-font-color6 skin-color-hover4"><%= @advertisment.user.name %></a>
				<ul>
					<li><span>- </span>
						<%= link_to "Zobacz profil", user_path(@advertisment.user.id), class: 'skin-font-color6' %>
					</li>
					<li><span>- </span><a href="#" class="skin-font-color6">Inne zlecenia użytkownika (0)</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>