<% if @advertisments.any? %>
<ul class="ad-list">
	<% @advertisments.each do |advertisment| %>
	<li class="ad-prev">
		<span class="skin-font-color15 semibold font-12px">Zlecenie: </span><span class="semibold font-12px"><%= advertisment.title %></span>
		<div class="meta-info">
			<span class="bold">Kategorie: </span><span class="second-span">
			<% advertisment.categories.each do |category| %>
				<%= category.name %>
			<% end %>
			</span>
			<span class="bold">Lokalizacja: </span><span class="second-span">
				<% advertisment.geolocations.each do |geolocation| %>
					<%= geolocation.name %>
				<% end %>
			</span>
			<span class="bold">Budżet: </span><span class="second-span"><%= advertisment.price %>zł</span>
			<span class="bold">Wystawione: </span><span class="second-span"><%= date_issue advertisment.created_at %></span>  
			<span class="bold">Do końca: </span><span class="second-span"><%= days_to_left advertisment %></span>
			<span class="bold">Ilość ofert: </span><span class="second-span"><%= advertisment.offers.count %></span>
		</div>
		<a href="#" class="button skin-font-color2 skin-background-color14 skin-background-hover1 bold">Zobacz ogłoszenie</a>
		<a href="#" class="button skin-font-color2 skin-background-color3 skin-background-hover1 bold">Wybierz zwycięzcę</a>
	</li>
	<% end %>
</ul>
<% else %>
	<%= render 'empty' %>
<% end %>