<div class="three-fourth main-text panel-content last">
	<span class="font-18px skin-font-color1 bold">Kokpit - <%= @current_user.name %></span>
	<div class="one-third">
		<div class="cockpit-box skin-background-color9">
			<span class="skin-font-color2 font-14px semibold">Ogłoszenia wystawione przez ciebie</span>
		</div>
		<ul class="cockpit-menu">
			<li><a href="#" class="skin-border-color6 skin-background-hover9 skin-font-color6 skin-color-hover6 bold">Aktywne: <%= @active_advertisments_count %></a><li>
			<li><a href="#" class="skin-border-color6 skin-background-hover9 skin-font-color6 skin-color-hover6 bold">Oczekujące na zwycięzcę: <%= @wating_advertisments_count %></a><li>
			<li>
				<%= link_to panel_ogloszenia_path(status: 'ended'), class: 'skin-border-color6 skin-background-hover9 skin-font-color6 skin-color-hover6 bold' do %>Zakończone: <%= @ended_advertisments_count %>
				<% end %>
				<li>
		</ul>
	</div>
	<div class="one-third">
		<div class="cockpit-box skin-background-color7">
			<span class="skin-font-color2 font-14px semibold">Ogłoszenia ,w których licytujesz</span>
		</div>
		<ul class="cockpit-menu">
			<li><a href="#" class="skin-border-color7 skin-background-hover10 skin-font-color6 skin-color-hover6 bold">Aktywne: 2</a><li>
			<li><a href="#" class="skin-border-color7 skin-background-hover10 skin-font-color6 skin-color-hover6 bold">Oczekujące na zwycięzcę: 2</a><li>
			<li><a href="#" class="skin-border-color7 skin-background-hover10 skin-font-color6 skin-color-hover6 bold">Zakończone: 2</a><li>
		</ul>
	</div>
	<div class="one-third last">
		<div class="cockpit-box skin-background-color1">
			<span class="skin-font-color2 font-14px semibold">Twój profil</span>
		</div>
		<ul class="cockpit-menu">
			<li><a class="skin-border-color1 skin-font-color6 bold">Potwierdzony mail: <span class="skin-font-color10">TAK</span></a><li>
			<li><a href="#" class="skin-border-color1 skin-background-hover11 skin-font-color6 skin-color-hover6 bold">Uzupełniony profil: <span class="skin-font-color14">NIE - uzupełnij</span></a><li>
			<li><a href="#" class="skin-border-color1 skin-background-hover11 skin-font-color6 skin-color-hover6 bold">Weryfikacja: <span class="skin-font-color14">NIE - przeprowadź</span></a><li>
		</ul>
	</div>
</div>