<div class="three-fourth main-text panel-content last">
	
	<span class="font-18px skin-font-color1 bold"><%= @title %></span>
	
	<%
	case @layout
	when 'ended' %>
		<%= render 'offers_ended', object: @advertisments %>
	<% when 'won' %>
		<%= render 'offers_won', object: @advertisments %>
	<% else %>
		<%= render 'offers_active', object: @advertisments %>
	<% end %>

	<%= paginate @advertisments %>
		
</div>