<!DOCTYPE html>
<html>
<head>
  <title>Zlecenie</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- favicon -->
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="ShYmjv7qo8L7Kd7ZgfJZZlYErYwO-HpIRHIvcUL3ahQ" />
</head>
<body>

	<!-- TOP WRAPPER -->
		
	<%= render 'shared/top' %>
	
	<!-- /TOP WRAPPER -->

	<div class="clearfix"></div>

	<!-- MAIN CONTENT -->

	<section class="main-content recover-page">
		<div class="center">
		
			<%= render 'shared/notice_alert' %>

			<%= yield %>

		</div>
	</section>

	<!-- /MAIN CONTENT -->

	<div class="clearfix"></div>

	<!-- BOTTOM -->

	<%= render 'shared/bottom' %>

	<!-- /BOTTOM -->

	<div class="clearfix"></div>

	<!-- FOOTER -->
	
	<%= render 'shared/footer' %>

	<!-- /FOOTER -->

</body>
</html>

